{% load socialaccount %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
    </head>
    <body>
        <form action = "" method = "POST">
            <input type = "text" name = "username" placeholder = "username or email"><br>
            <input type = "password", name = "password" placeholder = "password"><br>
            <input type = "submit" value = "login">
            <a href = "{% provider_login_url "google" %}">log in with google</a>
        </form>
    </body>
</html>
